/* stylesheet for Jane Doette's Portfolio */

/*  -------- Color Pallette ------------

#f8fff4: cream | used for main headings and most paragraphs
#3A3042: dark purple | used for area backgrounds, main header background, and paragraphs
#846193: light purple | used for area backgrounds, buttons, and paragraphs
#e75a7c: deep pink | used for rollovers and accents
#17bebb: turquoise | used for area backgrounds and accents

*/

/* -------- Fonts ---------------------

Blackjack:  display font | used for name
Questrial:   sans-serif font | used for heading and paragraphs

/*---------- Table of Contents----------

- Base Styles
- Grid
- Sections
    - Header
    - Display Image
    - Featured Work
*/


/***** BASE STYLES *****/

/* *{
    border: 1px solid gray !important;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  background-color: #f8fff4;
  color: #3A3042;
  font-family: "Questrial", sans-serif;
  font-size: 16px;
}

/***** GRID *****/

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 75%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/***** SECTIONS *****/

/*---Header---*/
header {
  border-bottom: 5px solid #846193;
}

#logo img {
  max-width: 150px;
}

#name,
#title {
  max-height: 75px;
  justify-content: flex-end;
}

#name {
  font-family: "Blackjack", cursive;
  font-size: 2.25em;
  font-weight: normal;
  margin-bottom: 0;
  text-transform: lowercase;
}

#title {
  font-weight: normal;
  margin-top: 0;
  text-transform: uppercase;
}

/*---Display Image---*/

#display-img img {
  max-width: 100%;
}

/*---Featured Work---*/
#featured-work-title {
  color: #846193;
  font-size: 1.5em;
  margin-bottom: 0;
}

.project-image{
  margin: 0 auto;
}

.project-title {
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
}

.project-url a {
  color: #846193;
  margin-top: 0;
  text-decoration: none;
}
